<template name="chatroom">
    {{#if currentUser}}
    <div class="container bootstrap snippet">
        <div class="row">
            {{#if showCreateDialog}}
            {{> createChatRoom}}
            {{/if}}
            {{#if showListDialog}}
            {{> listChatrooms}}
            {{/if}}
            <div>
                <div class="portlet portlet-default">
                    <div class="portlet-heading">
                        <div class="portlet-title">
                            <ul class="nav nav-pills" style="float: right">
                                <li role="presentation"><a href="#" id="createChatRoom">Create Chatroom</a></li>
                                <li role="presentation"><a href="#" id="listChatRoom">List Chatroom</a></li>
                            </ul>
                            <a href="{{pathFor route='home'}}" ><h4>Back to Home</h4></a>
                            <h2>{{chatroomName}}</h2>
                            <a href="#" id="logout">Log Out</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="chat" class="panel-collapse collapse in">
                        <div>
                            <div id="always-scoll" class="portlet-body chat-widget" style="overflow-y: auto; overflow-x: hidden; width: auto; height: 420px">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center text-muted small" style="float: right"></p>
                                    </div>
                                </div>

                                {{#each chat}}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="media">
                                            <div class="media-body">
                                                <h4 class="media-heading">{{username}}
                                                    <span class="small pull-right">{{formatDate timestamp}}</span>
                                                </h4>
                                                <p>
                                                    {{text}}
                                                </p>
                                                {{#if canDelete username}}
                                                <a href="#" class="delete"><h6>Delete</h6></a>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {{/each}}

                            </div>
                        </div>
                        <div class="portlet-footer">
                            <form role="form add-chat">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Enter message..." id="text-msg"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-default pull-right add-chat ">Send</button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{ tolayout }}
    {{/if}}
</template>