<template name="createChatRoom">
    <div id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close exit" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Chatroom</h4>
                </div>
                <div class="modal-body">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Chatroom name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add create">Create</button>
                    <button type="button" class="btn cancel exit" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>