<template name="listChatrooms">
    <div id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close exit" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">List Available Chatrooms</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        {{#each chatrooms}}
                            <a href="{{pathFor route='chatroom' _id=_id chatroom_name=name}}" class="list-group-item">{{name}}</a>
                        {{/each}}
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-success add">Join</button>-->
                    <button type="button" class="btn cancel exit" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>